<!-- Core -->
<script src="./assets/vendor/jquery/jquery.min.js"></script>
<script src="./assets/vendor/popper/popper.min.js"></script>
<script src="./assets/vendor/bootstrap/bootstrap.min.js"></script>
<script src="./assets/vendor/headroom/headroom.min.js"></script>
<!-- Optional JS -->
<script src="./assets/vendor/onscreen/onscreen.min.js"></script>
<script src="./assets/vendor/nouislider/js/nouislider.min.js"></script>
<script src="./assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- Argon JS -->
<script src="./assets/js/argon.js?v=1.0.1"></script>
<script>
function formAction(action, label) {
    gtag('event', `contact_form_${action}`, {
        'event_category': "Contact Form",
        'event_label': label,
    });
}

function formFocus(id, label) {
    $(`#${id}`).on('focus', function(e){
        formAction('focus', 'label');
    });
}

$('#contactForm').on('submit', function(e) {
  $('#contactForm').fadeOut(1000, function() {
    formAction('submit', 'header')
    $('.contact-form-body').prepend('<p class="text-white"><i class="fa fa-check text-success mr-3"></i>Thanks! We\'ll get in touch with you soon!</p>');
  });
});

formFocus('1412930648', 'name');
formFocus('1395377492', 'email');
</script>