---
layout: default
---
<section class="section section-shaped section-sm">
  <div class="shape shape-primary shape-style-4">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container pt-lg-md">
    <div class="row justify-content-center">
      <div class="col-lg-12">
      <h1 class="text-white text-center font-weight-light">{{ page.heading }}</h3>
    </div>
    </div>
  </div>
</section>
<section class="section section-sm">
  <div class="container">
    {{ content }}
  </div>
</section>